.container-fluid > div {
  width: 800px;
}

.btn { 
  box-shadow: none !important;
  font-weight: 700;
}

.btn-primary {
  background-color: #2790ff;
  border-color: #2790ff;
  color: #fff;
}

.btn-secondary {
  background-color: #646b71;
  border-color: #646b71;
  color: #fff;
}
